body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8aebf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cart > h1 , .pet >h1 {
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8aebf;
  
    
}
hr {
  border-color: black;
  border-style: inset; 
  border-width: 1px; 
  margin: 0.5em auto;
  width: 500px;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}

.nav-item-count {
  font-size: x-small;
  align-items: center;
  border-radius: 100%;
  background-color: #D92121;
  padding: 5px;
  color: white;
  vertical-align: top;
  margin-left: -10px;
  margin-top: -15px;
}

.nav-heading {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-heading > img {
  height: 40px;
  width: 40px;
  filter: invert(100%);
}
.nav-heading > h1 {
  color: white;
}
nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-right: 50px;
}

nav>ul>li {
  cursor: pointer;
}

.pet-img {
  width: 412.5px;
  height:237.5px
}

.pet-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 5px;
}

.pet-card > img {
  border: 2px black solid;
}
.btn {
  cursor: pointer;
  padding: 10px 40px;
  color: white;
  border: none;
  background-color: black;
  font-weight: bolder;

}
.homepage > main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 39%; 
  gap: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 20px;
}


.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart > button {
  padding: 10px 40px;
  color: white;
  border: none;
  background-color: black;
  font-weight: bolder;
}

.cart-item {
  display: flex;
  justify-self: center;
  gap: 5px;
}

.cart-item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 200px;
}

.cart-item-name {
  font-size: 1.25em;
  font-weight: bolder;
  padding-top: 5px;
}

.item-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 55px;
  color: black;
  font-weight: bolder;
  
  
}

.item-count-num {
  width: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  justify-self: center;
  text-align: center;
}

.item-count , .item-count >button {
  font-size: 14px;
}

.item-count > button {  
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #f8aebf;
  
  font-weight: bolder;
}

.cart-img {
  width: 275px;
  height: 158.3333333333333px;
  border-radius: 10px;
  border: 2px solid black;
}
.cart-item-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 500px;
  font-weight: bolder;
  font-size: 1.25em;
}
.pets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.pets > h1 {
  text-align: center;
}

.li-cart {
  display: flex;
  gap: 0;
  align-items: center;
}

.homepage {
  background-image: url("./pets/BG.jpg");
  background-size: "cover";
  height: 100vh;
  margin-top: -70px;
  
  background-repeat:no-repeat;
}