body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.nav-heading {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-heading > img {
  height: 40px;
  width: 40px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-right: 20px;
}

nav>ul>li {
  cursor: pointer;
}

.pet-img {
  width: 412.5px;
  height:237.5px
}

.pet-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 5px;
}

.pet-card > img {
  border: 2px black solid;
}
.pet-card > button {
  cursor: pointer;
}
.homepage > main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 39%; 
  gap: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 20px;
}

.item-count {
  font-size: smaller;
  
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart-item {
  display: flex;
  justify-self: center;
}

.item-count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-count > button {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.cart-img {
  width: 275px;
  height: 158.3333333333333px;
}
.cart-item-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.pets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.pets > h1 {
  text-align: center;
}